<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>D-Site Spring</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="css/jquery.table-shrinker.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css">
    <script src="js/jquery.table-shrinker.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/sysinfo.js"></script>
</head>
<body>
<div id="wrapper">
  <div id="leftWrapper">
      <div id="listView" class="list">
        <li class="list-item-active"><a href="#home">Home</a></li>
        <li><a href="#sysinfo">System Info</a></li>
        <li><a href="#svrsts">Server Status</a></li>
        <li><a href="#vpn">VPN</a></li>
        <li><a href="#settings">Settings</a></li>
      </div>
  </div>
  <div id="rightWrapper">
      <div id="right-content">
        <div id="home" class="rc" style="display:block;">TEST</div>
        <div id="sysinfo" class="rc">SYSNIFO</div>
      </div>
  </div>
</div>
</body>
</html>
