<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>D-Site Spring</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/nav.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="wrapper">
  <div id="leftWrapper">
      <div id="listView" class="list">
        <li class="list-item-active"><a href="#">Home</a></li>
        <li><a href="#sysinfo">System Info</a></li>
        <li><a href="#">Server Status</a></li>
        <li><a href="#">VPN</a></li>
        <li><a href="#">Settings</a></li>
      </div>
  </div>
</div>
</body>
</html>
